body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.App {
  position: relative;
  height: 800px;
  width: 800px;
  border: 10px solid #6495ed;
  margin: 0 auto;
  background-color: #f8f8ff;
}

.snake-dot {
  position: absolute;
  height: 2%;
  width: 2%;
  background: #008000;
  border: 1px solid #006400;
}

.snake-food {
  position: absolute;
  height: 2%;
  width: 2%;
  background: #ff4500;
  border: 1px solid #8b0000;
}
